@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: rgb(239 68 68);
}

.active.sub-items {
  background-color: white;
  color: red;
}


.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a7a6a6; /* Thumb color */
    border-radius: 4px; /* Rounded corners */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a7a6a6; /* Thumb color on hover */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #e5e7eb; /* Track color */
  }